<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><h1>FM2</h1><!--<img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">-->
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
                        <li><a data-toggle="modal" data-target="#add_project" href="#" data-toggle="modal" data-target="#add_project"><i class="fa fa-plus" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Post hinzufügen</span></a></li>

                        <li><a data-toggle="modal" data-target="#remove_project" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Post löschen</span></a></li>

                        <li><a data-toggle="modal" data-target="#change_project" href="#"><i class="fa fa-exchange" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Post ändern</span></a></li>

                        <!--
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                      <h4 class="text-center">Find Mates for Matches</h4>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">

                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                      <a href="#"></a>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">User</span>
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>{{this.user}}</span>
                                                    <p class="text-muted small">
                                                        FIRST LASTNAME_PLACEHOLDER
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="/logout" class="view btn-sm active">Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>

                <div class="user-dashboard">

                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 gutter">

                            <div class="sales">

                                  <!-- <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Add Project</a></li> -->
                                  <h3>Dashboard</h3>
                                  <a href="dashboard/get-data">Daten aktualisieren <i class="fa fa-retweet fa-2x" aria-hidden="true"></i></a>
                                  <div>
                                      {{# each items }}
                                          <article class="item">
                                              <div>Spiel: {{ this.title }}</div>
                                              <div>Rang: {{ this.content }}</div>
                                              <div>Username: {{ this.author }}</div>
                                              <div>ID: {{ this._id }}</div>
                                          </article>
                                      {{/each}}
                                  </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 gutter">

                            <div class="sales report">
                              <h3>Subscribe</h3>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                <h2>Your Sale</h2>

                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Last Year
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">2012</a>
                                        <a href="#">2014</a>
                                        <a href="#">2015</a>
                                        <a href="#">2016</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                            <div class="sales report">
                                <h2>Report</h2>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Last Year
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">2012</a>
                                        <a href="#">2014</a>
                                        <a href="#">2015</a>
                                        <a href="#">2016</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->


                </div>
            </div>
        </div>

    </div>



    <!-- Modal Add  -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Post hinzufügen</h4>
                  </div>
                  <div class="modal-body">
            <form action="./insert" method="post">
                <div class="input">
                    <label for="title">Spiel</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="input">
                    <label for="content">Rang</label>
                    <input type="text" id="content" name="content">
                </div>
                <div class="input">
                    <label for="author">Username</label>
                    <input type="text" id="author" name="author">
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="add-project">Daten Einfügen</button>
                <button type="button" class="cancel" data-dismiss="modal">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
  </div>



  <div id="remove_project" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->

          <div class="modal-content">
              <div class="modal-header login-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Post löschen</h4>
                </div>
                <div class="modal-body">

                  <form action="dashboard/delete" method="post">
                      <div class="input">
                          <label for="id">ID</label>
                          <input type="text" id="id" name="id">
                      </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="add-project">Daten löschen</button>
              <button type="button" class="cancel" data-dismiss="modal">Abbrechen</button>
              </div>
          </form>
      </div>
  </div>
</div>

<div id="change_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Post ändern</h4>
              </div>
              <div class="modal-body">


                <form action="dashboard/update" method="post">
                    <div class="input">
                        <label for="id">ID</label>
                        <input type="text" id="id" name="id">
                    </div>
                    <div class="input">
                        <label for="title">Spiel</label>
                        <input type="text" id="title" name="title">
                    </div>
                    <div class="input">
                        <label for="content">Rang</label>
                        <input type="text" id="content" name="content">
                    </div>
                    <div class="input">
                        <label for="author">Username</label>
                        <input type="text" id="author" name="author">
                    </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="add-project">Daten ändern</button>
            <button type="button" class="cancel" data-dismiss="modal">Abbrechen</button>
            </div>
        </form>
    </div>
</div>
</div>

</body>
